* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    margin: 10px auto;
    background-color: #999;
    border: 1px solid #ff5e6f;
    width: 90%;
}


.container__title {
    display: grid;
    justify-items: center;
    font-size: 2rem;
    font-family:  Georgia;
    color: rgb(240, 111, 6);
    
}

img {
    width: 100%;
}